.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clicklottie {
  transform: translateX(50%);
  transform: translateY(-50%);
}



.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
  /* filter: contrast(80%); */
  opacity: 0.55;
  justify-content: center;
  align-items: center;
  display: flex;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  color: #363967;
  margin: 1rem;
  line-height: 1.15;
  font-size: 3.5rem;
  /* text-shadow: 4px 2px 2px gray; */
  text-align: center;
}

.item {
  font-weight: bold;
  color: #D74F24;
  margin: 1.2rem;
  cursor: pointer;
  /* border: 3px dotted #050505; */
  /* border-radius: 5px; */
  font-size: 4.5rem;
  /* font-style: oblique; */
  text-shadow: 4px 2px 2px #F7F7F7;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 7rem;
}

.grid2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: 1rem;
}

.card1 {
  background-color: #F7F7F7;
  color: #363967;
  /* margin: 1rem; */
  margin: 0px auto;
  padding: 0 1.5rem;
  text-align: center;
  text-decoration: none;
  border: 3px solid #F7F7F7;
  border-radius: 30px;
  transition: color 0.15s ease, border-color 0.15s ease;
  /* width: 200%; */
  /* top: 30%; */
  /* left: 10%; */
  /* position: relative; */
}

.card2 {
  background-color: #F7F7F7;
  color: #363967;
  margin: 1rem;
  padding: 0 1.5rem;
  text-align: center;
  text-decoration: none;
  border: 3px solid #F7F7F7;
  border-radius: 30px;
  transition: color 0.15s ease, border-color 0.15s ease;
  /* position: relative; */
  /* width: 45%; */
}

.card1:hover,
.card1:focus,
.card1:active {
  color: #D74F24;
  border-color: #D74F24;
  cursor: pointer;
  vertical-align: middle;
}

.card2:hover,
.card2:focus,
.card2:active {
  color: #D74F24;
  border-color: #D74F24;
  cursor: pointer;
  vertical-align: middle;
}

.card h2 {
  margin: 0 0 0 0;
  font-size: 1.3rem;
  vertical-align: middle;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  vertical-align: middle;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.slottt_machine_recipe {
  margin: 0px auto;
  width: 700px;
  margin-top: 50px;
}

.slottt_machine_recipe__mask {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin-bottom: -40px;
}

.slottt_machine_recipe__items_container {
  position: absolute;
}

.slottt_machine_recipe__item {
  min-height: 150px;
  max-height: 150px;
  margin: 0px;
  padding: 0px;
  background-size: contain;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    /* flex-direction: column; */
  }
}

.stringdiv {
  width: 100%;
  backface-visibility: hidden;
  /* position: absolute; */
  left: 0;
  /* min-height: 150px;
  max-height: 150px; */
  /* height: 150px; */
}
